<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracker</title>
</head>
<header>
    <a href="{% url 'signup' %}">Sign Up</a>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'create_project' %}">Create project</a>
</header>

<body>
    <main>
        <div>
            <h1>My Projects</h1>
            {% if not projects %}
            <p>You are not assigned to any projects</p>
            {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr>
                        <td><a href="{% url 'show_project' project.id %}">{{ project.name }}</a></td>
                        <td>{{ project.tasks.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </main>
</body>

</html>
